# Data Demo Update

In [10]:
#Librerie Necessarie

import pandas as pd
import random
import numpy

### -- Stato attuale del csv caricato

In [33]:
demoCsv = pd.read_csv("demoCsvFile.csv", sep = ";")
demoCsv.head(5)

print("--------------------------------")
print("N. Rows Dataset Csv -> ", len(demoCsv))
print("--------------------------------")

demoCsv.head(5)

--------------------------------
N. Rows Dataset Csv ->  2
--------------------------------

         Nome    Cognome          Ruolo
0  Alessandro      Baglì  Data Engineer
1      Matteo  Paparella  Data Engineer

### -- Schema Dataset Csv e Datatypes

In [34]:
#Creazione della struttura del csv da utilizzare per generare dei dati dummy: 

listNamesColonne = demoCsv.columns

demoCsv.dtypes

Nome       object
Cognome    object
Ruolo      object
dtype: object

### -- Aggiungere Dati al csv

Dati Spot

In [35]:
# Creare un nuovo record
nuovo_record = pd.DataFrame({f'{listNamesColonne[0]}': ['David'], f'{listNamesColonne[1]}': ['28'], f'{listNamesColonne[2]}': ['Data Engineer']})

# Aggiungere il nuovo record al DataFrame
demoCsv = pd.concat([demoCsv, nuovo_record], ignore_index=True)

# Nuovo record inserito e presente nel dataset in coda
demoCsv.tail(5)

         Nome    Cognome          Ruolo
0  Alessandro      Baglì  Data Engineer
1      Matteo  Paparella  Data Engineer
2       David         28  Data Engineer