# Data Demo Update

In [30]:
#Librerie Necessarie

import pandas as pd
import random
import numpy as np

### -- Stato attuale del csv caricato

In [14]:
demoCsv1 = pd.read_csv("demoCsvFile1.csv", sep = ";")
demoCsv1.head(5)

print("--------------------------------")
print("N. Rows Dataset Csv -> ", len(demoCsv1))
print("--------------------------------")

demoCsv1.head(5)

--------------------------------
N. Rows Dataset Csv ->  5
--------------------------------

         Nome    Cognome          Ruolo
0  Alessandro      Baglì  Data Engineer
1      Matteo  Paparella  Data Engineer
2       David         28  Data Engineer
3       David         28  Data Engineer
4       David         28  Data Engineer

In [18]:
demoCsv2 = pd.read_csv("demoCsvFile2.csv", sep = ";")
demoCsv2.head(5)

print("--------------------------------")
print("N. Rows Dataset Csv -> ", len(demoCsv2))
print("--------------------------------")

demoCsv2.head(5)

--------------------------------
N. Rows Dataset Csv ->  2
--------------------------------

           Ruolo  Postazione         Team
0  Data Engineer           1          EDH
1   Data Analyst           2  EDH Purview

### -- Schema Dataset Csv e Datatypes

In [23]:
#Creazione della struttura del csv da utilizzare per generare dei dati dummy: 

listNamesColonneDf1 = demoCsv1.columns

print("Datatypes demoCsvFile1")
print(demoCsv1.dtypes)

print("---------------------------------------")
      
listNamesColonneDf2 = demoCsv2.columns

print("Datatypes demoCsvFile2")
print(demoCsv2.dtypes)

Datatypes demoCsvFile1
Nome       object
Cognome    object
Ruolo      object
dtype: object
---------------------------------------
Datatypes demoCsvFile2
Ruolo         object
Postazione     int64
Team          object
dtype: object

### -- Aggiungere Dati al csv

Dati Spot

In [16]:
# Creare un nuovo record
nuovo_record = pd.DataFrame({f'{listNamesColonneDf1[0]}': ['David'], f'{listNamesColonneDf1[1]}': ['28'], f'{listNamesColonneDf1[2]}': ['Data Engineer']})

# Aggiungere il nuovo record al DataFrame
demoCsv1 = pd.concat([demoCsv1, nuovo_record], ignore_index=True)

# Nuovo record inserito e presente nel dataset in coda
print(demoCsv1.tail(5))

# Si scrive il nuovo Dataset
demoCsv1.to_csv("demoCsvFile1.csv", sep = ";", index = False)

In [24]:
# Creare un nuovo record
nuovo_record = pd.DataFrame({f'{listNamesColonneDf2[0]}': ['Data Scientist'], f'{listNamesColonneDf2[1]}': ['3'], f'{listNamesColonneDf2[2]}': ['EDH Reporting']})

# Aggiungere il nuovo record al DataFrame
demoCsv2 = pd.concat([demoCsv2, nuovo_record], ignore_index=True)

print(demoCsv2.tail(5))

# Si scrive il nuovo Dataset
demoCsv2.to_csv("demoCsvFile2.csv", sep = ";", index = False)

Dati Random massivi

In [32]:
## csvDemo1

# Definisci il numero di righe e colonne
numero_righe_da_inserire = 100  # Numero di righe desiderate

# Creare un DataFrame con dati casuali
for i in range(numero_righe_da_inserire):
    data1 = [''.join(np.random.choice(list('abcdefghijklmnopqrstuvwxyz'), 5)) for _ in range(numero_righe_da_inserire)]
    data2 = [''.join(np.random.choice(list('abcdefghijklmnopqrstuvwxyz'), 5)) for _ in range(numero_righe_da_inserire)]
    data3 = [''.join(np.random.choice(list('abcdefghijklmnopqrstuvwxyz'), 5)) for _ in range(numero_righe_da_inserire)]
    nuovo_record = pd.DataFrame({f'{listNamesColonneDf1[0]}': [f'{data1}'], f'{listNamesColonneDf1[1]}': [f'{data2}'], f'{listNamesColonneDf1[2]}': [f'{data3}']})
    # Aggiungere il nuovo record al DataFrame
    demoCsv1 = pd.concat([demoCsv1, nuovo_record], ignore_index=True)

    
# Si scrive il nuovo Dataset
demoCsv1.to_csv("demoCsvFile1.csv", sep = ";", index = False)
               
print("Nuova Len demoCsv1 -> ", len(demoCsv1))
demoCsv1.head(5)

Nuova Len demoCsv1 ->  206

         Nome    Cognome          Ruolo
0  Alessandro      Baglì  Data Engineer
1      Matteo  Paparella  Data Engineer
2       David         28  Data Engineer
3       David         28  Data Engineer
4       David         28  Data Engineer

In [33]:
demoCsv1.tail()

,Nome,Cognome,Ruolo
201,"['nnwxt', 'ihigf', 'dlljm', 'djtbg', 'erukf', ...","['podcm', 'jvath', 'zeixc', 'xmyue', 'hgyez', ...","['gzjlv', 'wbvod', 'zarww', 'ulxng', 'qfhko', ..."
202,"['ncliy', 'przvn', 'ojpdi', 'addjc', 'tcdgc', ...","['wnopg', 'tyamu', 'nugjy', 'lrspr', 'hspqu', ...","['tnucl', 'wxuzw', 'lzzxf', 'kvlyr', 'sivpc', ..."
203,"['wlcik', 'ofiqj', 'vsxgz', 'zyget', 'jygow', ...","['fqtjs', 'ahnwc', 'hvcgx', 'ieoxj', 'xweuq', ...","['pswlu', 'vjvrt', 'zvabj', 'axhfc', 'iszvn', ..."
204,"['wwcjh', 'pcebw', 'fgmjw', 'ziumr', 'brsyv', ...","['qwoeb', 'cmjwr', 'tefna', 'bapqo', 'cwltv', ...","['asbdh', 'fcpnt', 'dfbgm', 'ojrke', 'cjetx', ..."
205,"['bhjbg', 'zgsff', 'meham', 'bmphu', 'qbgzb', ...","['abfia', 'wzhpd', 'myxsf', 'ijzoh', 'qsnpr', ...","['bvouf', 'vycus', 'ycirx', 'vddol', 'jnoek', ..."